
button {
  background-color: #470000;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

}

h1 {
color:#470000

}

img {
  border-radius: 10px;
}

.gund {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 60, 255);
}

.eva {
  color: rgb(255, 0, 0);
  background-color: rgb(68, 0, 0);
}

.cp {
  color: rgb(43, 255, 0);
  background-color: rgb(255, 238, 0);
}

#button {
  position: absolute;
  right:1500px;
  bottom: 500px;
  text-align: center;
}

