<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Hello from Flask!</h1>
    <button id="clickMe">Click me</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <iframe width="110" height="200" src="https://www.myinstants.com/instant/you-stupid-n-95316/embed/" frameborder="0" scrolling="no"></iframe>
    <img src="static\Inceridble_Gassy.webp" alt="Italian Trulli">
    <a href="/about" >link text</a>
 
</body>
</html>
